<p-table #table [value]="contacts" dataKey="psid"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
    [(selection)]="selected" (onRowSelect)="onRowSelectChange($event)" (onRowUnselect)="onRowUnselectChange($event)"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    PSID
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Name
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Membership Status
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Membership Start
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Membership End
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Transaction History
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contact>
        <tr>
            <td> <p-tableCheckbox [value]="contact"></p-tableCheckbox> </td>
            <td>{{contact.psid}}</td>
            <td>{{contact.getName()}}</td>
            <td>
                <div [ngClass]="contact.membershipStatus ? 'member-yes' : 'member-no'"> {{contact.getMembershipStatus()}} </div>
            </td>
            <td>{{contact.getMembershipStart()}}</td>
            <td>{{contact.getMembershipEnd()}}</td>
            <td>{{contact.getTransactionHistory()}}</td>
        </tr>
    </ng-template>
</p-table>