<div class="tile">
    <div class="title"> Contact Manager </div>
</div>

<div class="spacer"></div>

<div class="flex-wrapper">
    <app-stats-panel
        [contacts]="contacts"
        [memberCount]="memberCount">
    </app-stats-panel>

    <div class="spacer"></div>
    
    <app-control-panel
        [selected]="selected"
        (onRefreshComplete)="onRefresh()">
    </app-control-panel>
</div>

<div class="spacer"></div>

<div class="tile">
    <app-contact-table
        [contacts]="contacts"
        [selected]="selected"
        (onRowSelectComplete)="onRowSelectChange($event)"
        (onRowSelectComplete)="onRowUnselectChange($event)"
        (selectedRowsData)="selected=$event">
    </app-contact-table>
</div>